<div class="main">
  <app-logo></app-logo>
  <h3 class="{{ h3Style }}">Socially</h3>
  <h4 class="mb-8 {{ mutedStyle }}">Create your account</h4>
  <div hlmCard class="min-w-xs md:min-w-md">
    <div hlmCardHeader>
      <div hlmCardTitle>Welcome!</div>
      <div hlmCardDescription>Register</div>
    </div>
    <div hlmCardContent>
      <form
        class="space-y-4"
        [formGroup]="registerForm!"
        (submit)="registerWithEmail()"
      >
        <hlm-form-field>
          <label hlmLabel>
            <div class="text-xs {{ mutedStyle }}">username</div>
            <input
              class="w-full"
              formControlName="username"
              hlmInput
              placeholder="Username"
            />
          </label>
          @if (registerForm?.get('username')?.errors?.['required'] &&
          (registerForm?.get('username')?.dirty ||
          registerForm?.get('username')?.touched)) {
          <hlm-error>Username is required.</hlm-error>
          } @if (registerForm?.get('username')?.errors?.['minlength'] &&
          (registerForm?.get('username')?.dirty ||
          registerForm?.get('username')?.touched)) {
          <hlm-error>Username is too short.</hlm-error>
          } @if (registerForm?.get('username')?.errors?.['maxlength'] &&
          (registerForm?.get('username')?.dirty ||
          registerForm?.get('username')?.touched)) {
          <hlm-error>Username is too long.</hlm-error>
          }
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>
            <div class="text-xs {{ mutedStyle }}">Email</div>
            <input
              class="w-full"
              formControlName="email"
              hlmInput
              placeholder="Email"
            />
            @if (registerForm?.get('email')?.errors?.['required'] &&
            (registerForm?.get('email')?.dirty ||
            registerForm?.get('email')?.touched)) {
            <hlm-error>Email is required.</hlm-error>
            } @if (registerForm?.get('email')?.errors?.['email'] &&
            (registerForm?.get('email')?.dirty ||
            registerForm?.get('email')?.touched)) {
            <hlm-error>Invalid Email.</hlm-error>
            }
          </label>
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>
            <div class="text-xs {{ mutedStyle }}">Password</div>
            <input
              class="w-full"
              hlmInput
              [type]="hidden ? 'password' : 'text'"
              placeholder="Password"
              formControlName="password"
            />
            @if (registerForm?.get('password')?.errors?.['required'] &&
            (registerForm?.get('password')?.dirty ||
            registerForm?.get('password')?.touched)) {
            <hlm-error>Password is required.</hlm-error>
            } @if (registerForm?.get('password')?.errors?.['minlength'] &&
            (registerForm?.get('password')?.dirty ||
            registerForm?.get('password')?.touched)) {
            <hlm-error>Password is too short.</hlm-error>
            } @if (registerForm?.get('password')?.errors?.['maxlength'] &&
            (registerForm?.get('password')?.dirty ||
            registerForm?.get('password')?.touched)) {
            <hlm-error>Password is too long.</hlm-error>
            }
          </label>
        </hlm-form-field>
        <div class="flex items-center justify-end mb-4">
          <label hlmLabel class="flex items-center">
            <hlm-checkbox (changed)="showPasswordToggle($event)" class="mr-2" />
            show password
          </label>
        </div>
      </form>
    </div>
    <div hlmCardFooter>
      <button
        hlmBtn
        class="shrink-0"
        variant="secondary"
        (click)="navigateToLoginScreen()"
      >
        Log In
      </button>
      <button hlmBtn variant="outline">
        <img
          class="w-[20px] h-[20px] shrink-0"
          src="google.png"
          alt=""
          srcset=""
        />
      </button>
      <button hlmBtn class="w-full" (click)="registerWithEmail()">
        Register
      </button>
    </div>
  </div>
</div>
