<div id="main-card" class="h-[250px] bg-[var(--card)] border rounded-xl">
  <div class="h-full flex gap-8 p-8">
    <!-- left content  -->
    <div class="flex-1 flex flex-col justify-between">
      <div>
        <div class="flex item-center gap-3">
          @if
          (this.popularMediaLucideIcons.includes(socialLink.icon.toString())) {
          <div class="flex items-center justify-center">
            <ng-icon [name]="socialLink.icon" size="30px"></ng-icon>
          </div>
          } @else {
          <img [src]="socialLink.customIcon" alt="" srcset="" />
          }
          <div>
            <h2 class="font-semibold text-sm uppercase tracking-wider">
              {{ socialLink.platformName }}
            </h2>
            <p class="{{ mutedStyle }} text-xs">Social Profile</p>
          </div>
        </div>
        <div>
          <h3
            [hlmTooltipTrigger]="socialLink.username"
            [attr.aria-label]="socialLink.username"
            class="font-bold text-xl tracking-wider text-ellipsis"
          >
            {{ socialLink.username }}
          </h3>
          <p
            [hlmTooltipTrigger]="socialLink.desc"
            [attr.aria-label]="socialLink.desc"
            class="{{ mutedStyle }} text-sm leading-relaxed text-ellipsis"
          >
            {{ socialLink.desc }}
          </p>
          <div class="flex gap-4 text-xs {{ mutedStyle }}">
            @if (socialLink.followers) {
            <span
              >{{ formatFollowersCount(socialLink.followers) }} Followers</span
            >
            }@if (socialLink.followers && socialLink.following) {
            <span>•</span>
            } @if (socialLink.following) {
            <span
              >{{ formatFollowersCount(socialLink.following) }} Following</span
            >
            }
          </div>
        </div>
      </div>

      <div>
        @if (socialLink.handle) {
        <p
          [hlmTooltipTrigger]="socialLink.handle"
          [attr.aria-label]="socialLink.handle"
          class="{{ mutedStyle }} text-xs font-mono text-ellipsis"
        >
          {{ socialLink.handle }}
        </p>
        }
        <div class="flex items-center gap-2 {{ mutedStyle }} mt-1">
          <div class="flex items-center justify-center">
            <ng-icon size="15px" name="lucideExternalLink"></ng-icon>
          </div>
          <p
            [hlmTooltipTrigger]="socialLink.url"
            [attr.aria-label]="socialLink.url"
            class="text-xs font-mono text-ellipsis"
          >
            {{ socialLink.url }}
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <qrcode [width]="150" [qrdata]="socialLink.url"></qrcode>
      <p class="text-xs {{ mutedStyle }} text-center mt-3 font-mono">
        SCAN TO CONNECT
      </p>
    </div>
  </div>
</div>

<div class="flex item-center mt-6">
  <button class="mr-4" hlmBtn (click)="shareCardImage()">Share</button>
  <button hlmBtn variant="outline" (click)="downloadCardImage()">
    Download
  </button>
</div>
