<app-only-back-nav-bar></app-only-back-nav-bar>

<div class="flex items-center justify-center px-2 py-6">
  <div hlmCard class="w-full sm:max-w-lg md:max-w-2xl lg:max-w-4xl">
    <div hlmCardHeader>
      <div hlmCardTitle>Your Info.</div>
      <div hlmCardDescription>Edit and Save.</div>
    </div>

    <div
      hlmCardContent
      class="flex flex-col md:flex-row-reverse md:justify-around gap-6"
    >
      <!-- Profile image and button -->
      <div class="flex flex-col items-center">
        <img
          class="h-28 w-28 sm:h-36 sm:w-36 md:h-40 md:w-40 rounded-full object-cover"
          [src]="userProfileURL"
          alt="User profile image"
        />
        <button hlmBtn variant="outline" class="mt-4 w-full sm:w-auto">
          Update Image
        </button>
      </div>

      <!-- Form Section -->
      <div class="flex-1">
        <!-- Basic Info -->
        <h3 class="{{ h3Style }} mb-2">Basic Info</h3>
        <div class="flex flex-col gap-2">
          <hlm-form-field>
            <label hlmLabel>
              <div class="text-xs">Fullname</div>
              <input class="w-full" hlmInput placeholder="Your full name" />
            </label>
          </hlm-form-field>

          <hlm-form-field>
            <label hlmLabel>
              <div class="text-xs">Title</div>
              <input class="w-full" hlmInput placeholder="A catchy oneliner" />
            </label>
          </hlm-form-field>

          <hlm-form-field>
            <label hlmLabel>
              <div class="text-xs">Summary</div>
              <textarea
                class="w-full min-h-[100px]"
                hlmInput
                placeholder="Type your message here."
              ></textarea>
            </label>
          </hlm-form-field>

          <hlm-form-field>
            <label hlmLabel>
              <div class="text-xs flex items-center gap-2">
                Skills
                <ng-icon
                  name="lucideInfo"
                  [hlmTooltipTrigger]="'Your input should be comma separated'"
                ></ng-icon>
              </div>
              <input
                class="w-full"
                hlmInput
                placeholder="Your skills comma separated"
              />
            </label>
          </hlm-form-field>
        </div>
        <div hlmAccordion type="multiple">
          <div hlmAccordionItem>
            <button hlmAccordionTrigger>
              <h3 class="{{ h3Style }}">Education</h3>
              <ng-icon name="lucideChevronDown" hlm hlmAccIcon></ng-icon>
            </button>
            <hlm-accordion-content>
              <form [formGroup]="educationForm">
                <div formArrayName="educations">
                  @for (educationGroup of educations.controls; let i = $index;
                  track $index;) {
                  <div>
                    <div
                      [formGroupName]="i"
                      class="flex flex-col gap-2 ml-2 mr-2"
                    >
                      <hlm-form-field>
                        <label hlmLabel>
                          <div class="text-xs">Degree</div>
                          <input
                            class="w-full"
                            hlmInput
                            placeholder="You are qualified in"
                            formControlName="degree"
                          />

                          @if
                          (educationGroup.get('degree')?.hasError('required')) {
                          <hlm-error>Degree is required</hlm-error>
                          }
                        </label>
                      </hlm-form-field>

                      <hlm-form-field>
                        <label hlmLabel>
                          <div class="text-xs">Institution</div>
                          <input
                            class="w-full"
                            hlmInput
                            formControlName="institution"
                            placeholder="You qualified from"
                          />
                          @if
                          (educationGroup.get('institution')?.hasError('required'))
                          {
                          <hlm-error>Institution is required</hlm-error>
                          }
                        </label>
                      </hlm-form-field>

                      <hlm-form-field>
                        <label hlmLabel>
                          <div class="text-xs">Year</div>
                          <input
                            class="w-full"
                            type="number"
                            hlmInput
                            formControlName="year"
                            placeholder="You qualified on"
                          />
                          @if (educationGroup.get('year')?.hasError('required'))
                          {
                          <hlm-error>Year is required</hlm-error>
                          }
                        </label>
                      </hlm-form-field>
                    </div>
                    <div class="flex items-center justify-end mt-2">
                      <button
                        hlmBtn
                        size="icon"
                        variant="destructive"
                        class="size-8"
                        (click)="removeEducation(i)"
                      >
                        <ng-icon hlm size="sm" name="lucideTrash" />
                      </button>
                    </div>
                  </div>
                  }
                </div>
              </form>
              <button
                hlmBtn
                (click)="addEducation()"
                class="mt-2"
                variant="secondary"
              >
                Add Education
              </button>
            </hlm-accordion-content>
          </div>
          <div hlmAccordionItem>
            <button hlmAccordionTrigger>
              <h3 class="{{ h3Style }}">Experiences</h3>
              <ng-icon name="lucideChevronDown" hlm hlmAccIcon></ng-icon>
            </button>
            <hlm-accordion-content>
              <div class="flex flex-col gap-2 ml-2 mr-2">
                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Role</div>
                    <input class="w-full" hlmInput placeholder="Your role" />
                  </label>
                </hlm-form-field>

                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Company</div>
                    <input
                      class="w-full"
                      hlmInput
                      placeholder="You worked in"
                    />
                  </label>
                </hlm-form-field>

                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Years</div>
                    <input
                      class="w-full"
                      type="number"
                      hlmInput
                      placeholder="How long you worked"
                    />
                  </label>
                </hlm-form-field>

                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Summary</div>
                    <textarea
                      class="w-full min-h-[100px]"
                      hlmInput
                      placeholder="Type your message here."
                    ></textarea>
                  </label>
                </hlm-form-field>
              </div>
              <div class="flex items-center justify-center mt-2">
                <button hlmBtn size="icon" variant="destructive" class="size-8">
                  <ng-icon hlm size="sm" name="lucideTrash" />
                </button>
              </div>
              <button hlmBtn class="mt-2" variant="secondary">
                Add Experience
              </button>
            </hlm-accordion-content>
          </div>
          <div hlmAccordionItem>
            <button hlmAccordionTrigger>
              <h3 class="{{ h3Style }}">Projects</h3>
              <ng-icon name="lucideChevronDown" hlm hlmAccIcon></ng-icon>
            </button>
            <hlm-accordion-content>
              <div class="flex flex-col gap-2 mr-2 ml-2">
                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Name</div>
                    <input
                      class="w-full"
                      hlmInput
                      placeholder="Name of your project"
                    />
                  </label>
                </hlm-form-field>

                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs flex items-center gap-2">
                      Techstack
                      <ng-icon
                        name="lucideInfo"
                        [hlmTooltipTrigger]="
                          'Your input should be comma separated'
                        "
                      ></ng-icon>
                    </div>
                    <input
                      class="w-full"
                      hlmInput
                      placeholder="Tech used in your project comma separated"
                    />
                  </label>
                </hlm-form-field>

                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Year</div>
                    <input
                      class="w-full"
                      type="number"
                      hlmInput
                      placeholder="Project completed on"
                    />
                  </label>
                </hlm-form-field>

                <hlm-form-field>
                  <label hlmLabel>
                    <div class="text-xs">Summary</div>
                    <textarea
                      class="w-full min-h-[100px]"
                      hlmInput
                      placeholder="Type your message here."
                    ></textarea>
                  </label>
                </hlm-form-field>
              </div>
              <div class="flex items-center justify-center mt-2">
                <button hlmBtn size="icon" variant="destructive" class="size-8">
                  <ng-icon hlm size="sm" name="lucideTrash" />
                </button>
              </div>
              <button hlmBtn class="mt-2" variant="secondary">
                Add Project
              </button>
            </hlm-accordion-content>
          </div>
        </div>
      </div>
    </div>

    <div
      hlmCardFooter
      class="flex flex-col sm:flex-row items-center justify-center gap-4 mt-4"
    >
      <button hlmBtn variant="secondary" class="w-full sm:w-auto">
        Discard
      </button>
      <button hlmBtn class="w-full sm:w-auto">Save</button>
    </div>
  </div>
</div>
