<div
  class="viewer-root min-h-screen bg-gradient-to-br from-slate-900 to-slate-800 py-8 px-2 sm:px-0"
>
  <div class="max-w-2xl mx-auto">
    <ng-container *ngIf="loading(); else loaded">
      <div
        class="flex flex-col gap-4 items-center justify-center min-h-[200px]"
      >
        <hlm-skeleton class="w-full h-32 rounded-xl"></hlm-skeleton>
        <hlm-skeleton class="w-2/3 h-8 rounded"></hlm-skeleton>
        <hlm-skeleton class="w-1/2 h-8 rounded"></hlm-skeleton>
      </div>
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="!error(); else errorBlock">
        <div class="flex flex-col gap-8">
          <!-- Main Card Style -->
          <ng-container *ngIf="socialLinks() && socialLinks()!.length > 0">
            <app-social-link-main-card
              [socialLinkInput]="socialLinks()![0]"
            ></app-social-link-main-card>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6">
              <ng-container *ngFor="let link of socialLinks(); let i = index">
                <app-social-link-main-card
                  *ngIf="i > 0"
                  [socialLinkInput]="link"
                ></app-social-link-main-card>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #errorBlock>
        <div class="flex flex-col items-center justify-center min-h-[200px]">
          <div class="text-2xl text-red-400 font-bold mb-2">
            Unable to fetch social links.
            <div class="text-base text-red-300">{{ error() }}</div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
