<div class="main">
  <app-logo></app-logo>
  <h3 class="{{ h3Style }}">Socially</h3>
  <h4 class="mb-8">Your personal social Butler</h4>
  <div hlmCard class="min-w-xs md:min-w-md">
    <div hlmCardHeader>
      <div hlmCardTitle>Welcome Back!</div>
      <div hlmCardDescription>Log In</div>
    </div>
    <div hlmCardContent>
      <form
        class="space-y-4"
        [formGroup]="loginForm!"
        (submit)="loginWithEmail()"
      >
        <hlm-form-field>
          <label for="loginEmail" hlmLabel>
            <div class="text-xs">Email</div>
          </label>
          <input
            id="loginEmail"
            class="w-full"
            hlmInput
            placeholder="Email"
            formControlName="email"
          />
          @if (email?.errors?.["required"] && (email?.dirty || email?.touched))
          {
          <hlm-error>Email is required.</hlm-error>
          } @if (email?.errors?.['email'] && (email?.dirty || email?.touched)) {
          <hlm-error>Invalid Email.</hlm-error>
          }
        </hlm-form-field>
        <hlm-form-field>
          <label for="loginPassword" hlmLabel>
            <div class="text-xs">Password</div>
          </label>
          <input
            id="loginPassword"
            class="w-full"
            hlmInput
            [type]="hidden ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
          />
          @if (password?.errors?.["required"] && (password?.dirty ||
          password?.touched)) {
          <hlm-error>Password is required.</hlm-error>
          }
        </hlm-form-field>
        <div class="flex items-center justify-end mb-4">
          <hlm-checkbox
            id="loginShowPassword"
            (changed)="showPasswordToggle($event)"
            class="mr-2"
          />
          <label for="loginShowPassword" hlmLabel class="flex items-center">
            show password
          </label>
        </div>
      </form>
    </div>
    <div hlmCardFooter>
      <button hlmBtn variant="secondary" (click)="navigateToRegisterScreen()">
        Register
      </button>
      <button
        class="shrink-0"
        (click)="loginWithGoogle()"
        hlmBtn
        variant="outline"
      >
        <img
          class="w-[20px] h-[20px] shrink-0"
          src="google.png"
          alt=""
          srcset=""
        />
      </button>
      <button hlmBtn class="flex-1" (click)="loginWithEmail()">Log In</button>
    </div>
  </div>
</div>
