@use "./accessibility.scss";
@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "@angular/cdk/overlay-prebuilt.css";
@import "@spartan-ng/brain/hlm-tailwind-preset.css";

.theme-toggle-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.main {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

html:not(.dark) {
  .logo-class {
    height: 100px;
    width: 100px;
    stroke: black;
    fill: white;
  }
}
html.dark {
  .logo-class {
    height: 100px;
    width: 100px;
    stroke: white;
    fill: black;
  }
}

:root {
  --font-sans: "Inter";
  letter-spacing: 0.025em !important;
}

html.dark body,
body.dark {
  background: #18181b;
}

//to remove increment and decrement arrows from input text
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.nav-bar-margin {
  margin-top: 80px;
}

hlm-error {
  font-size: var(--text-xs);
}

body {
  color: var(--primary);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --radius: 0.625rem;
}

:root.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border;
  }
}

div[hlmcardfooter] {
  gap: 8px;
  margin-top: 16px;
}

div[hlmcardcontent] {
  margin-top: 8px;
}
